/*
font-family: 'Afacad', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Shrikhand', serif;
*/

body {
  text-align: center;
  background-color: #fffcf4;
  color: #332602;
}

main {
  display: flex;
  justify-content: center;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30rem;
  border-radius: 3.75rem;
  box-shadow: 0.625rem 0.625rem 1.5625rem #d1cfc8,
    -0.625rem -0.625rem 1.5625rem #ffffff;
}

/* Text */

h1 {
  font-family: "Shrikhand", serif;
  font-size: 3rem;
  margin: 4rem 0 2rem 0;
}

p {
  font-family: "Mulish", sans-serif;
  margin: 2rem;
  font-size: 1rem;
}

footer {
  font-family: "Afacad", sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  padding: 3rem 0 2rem 0;
}

a {
  /* text-decoration: underline; */
  color: #665118;
}

/* Round corners */

#a1 {
  border-top-left-radius: 50%;
}

#a6 {
  border-bottom-left-radius: 50%;
}

#f1 {
  border-top-right-radius: 50%;
}

#f6 {
  border-bottom-right-radius: 50%;
}

/* Column A - Red */

#columna {
  display: flex;
  flex-direction: column;
}

.red {
  height: 5rem;
  width: 5rem;
  background-color: #e40303;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.red:hover {
  background-color: #44110a;
}

/* Column B - Orange */

#columnb {
  display: flex;
  flex-direction: column;
}

.orange {
  height: 5rem;
  width: 5rem;
  background-color: #ff8c00;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.orange:hover {
  background-color: #462206;
}

/* Column C - Yellow */

#columnc {
  display: flex;
  flex-direction: column;
}

.yellow {
  height: 5rem;
  width: 5rem;
  background-color: #ffed00;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.yellow:hover {
  background-color: #453a02;
}

/* Column D - Green */

#columnd {
  display: flex;
  flex-direction: column;
}

.green {
  height: 5rem;
  width: 5rem;
  background-color: #008026;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.green:hover {
  background-color: #072818;
}

#d4:hover {
  background-color: #94c691;
}

/* Column E - Blue */

#columne {
  display: flex;
  flex-direction: column;
}

.blue {
  height: 5rem;
  width: 5rem;
  background-color: #24408e;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.blue:hover {
  background-color: #101e33;
}

/* Column F - Purple */

#columnf {
  display: flex;
  flex-direction: column;
}

.purple {
  height: 5rem;
  width: 5rem;
  background-color: #732982;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}

.purple:hover {
  background-color: #1a0e2d;
}

@media only screen and (max-width: 430px) {
  h1 {
    margin: 2rem 0 0 0;
  }

  p {
    margin: 1rem 0 2rem 0;
  }

  #container {
    max-width: 21rem;
  }

  .red {
    height: 3.5rem;
    max-width: 3.5rem;
  }

  .orange {
    height: 3.5rem;
    max-width: 3.5rem;
  }

  .yellow {
    height: 3.5rem;
    max-width: 3.5rem;
  }

  .green {
    height: 3.5rem;
    max-width: 3.5rem;
  }

  .blue {
    height: 3.5rem;
    max-width: 3.5rem;
  }

  .purple {
    height: 3.5rem;
    max-width: 3.5rem;
  }

  footer {
    padding: 1.5rem 0 1rem 0;
  }
}
